
lab1/.idea/workspace.xml
lab1/.idea/workspace.xml
lab1/out/artifacts/fx/lab1.jar
lab1/.idea/workspace.xml
lab1/out/artifacts/gx/lab1.jar
lab1/out/artifacts/main/main.jar
lab1/out/production/lab1/clients/fx/ClientFx.class
lab1/out/production/lab1/clients/gx/ClientGx.class
lab1/out/production/lab1/Main.class
lab1/out/production/lab1/Server.class
lab1/src/clients/fx/ClientFx.java
lab1/src/clients/gx/ClientGx.java
lab1/src/Main.java
lab1/src/Server.java
